{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="jumbotron">
  <h1 class="display-4">Welcome on SymRecipe </h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consectetur veniam culpa placeat quidem ullam eum vero veritatis vitae temporibus.</p>
  <hr class="my-4">
  <p>Pour profiter de toutes les options de ce site, allez sur la page d'inscription.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>

{% endblock %}
